/*GENERALES*/
/*tamaño letra, tipografia, fondo, texto claro*/
body {
	font-size: x-large;
	font-family: "Cormorant Garamond", serif;
}
.centro {text-align: center;}
header {background-color: #824d17;}
footer {background-color: #6f4d2a;}
main {background-color: #fcfccf;}
.textoblanco {color: #f7f7a1;}


/*INDEX*/
.whatif {
	color: #ffff00;
	text-shadow: 2px 2px 4px #000000;
}

main h2 { 
	text-decoration-line: underline;
	text-decoration-style: wavy;
	text-decoration-thickness: -40%;
}
blockquote {background-color: #fafa9e;}